@import url(font.css);
body{
    background-color: #CCFFC5;
}

.hero{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.title h1{
    margin-left: 30px;
    margin-top: 144px;
    margin-bottom: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
    color: #000000;
   
}

.rules{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 80px;
    width: 548px;
    
}

#guess{
     
    width: 350px;
    height: 60px;
    background-color: white;
    margin-bottom: 18px;
    border-style: hidden;
    border-radius: 5px;
    margin-left: 99px;
    
}

#guessBtn{
    width: 350px;
    height: 60px;
    background: #3AE3A8;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    border-style: hidden;
    margin-left: 99px;
    


}

ul ,ol{
    margin-bottom: 0px;
}